#articulo {
    margin: 5px;
    height: auto;
    background-color: black;
    color: white;
}

#seccion {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    padding: 5px;
    background-color: rgba(0,0,0, .7);
}

#titulo {
    font-family: sans-serif;
    color: white;
    margin-top: 0px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#texto {
    padding: 10px;
    overflow-y: hidden;
}

@media screen and (min-width: 480px) {
    #articulo {
        width: 200px;
        height: 200px;
        float: left;
    }
}